* {
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100dvh;
    /* background: #000b14; */
}

main {
    display: flex;
    align-items: center;
}

aside {
    margin: 1rem;
    padding: 1rem 1.5rem;
    background: #000b14;
    border-radius: 4px;
    color: #f7f7fd;

}

aside .grading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 1rem;
    justify-content: space-between;
}
aside .grading span {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
}

.container {
    margin: 0 auto;
    width: 700px;
    background: #000b14;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    color: #f7f7fd;
}

.container .marks-input form {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .marks-input input {
    padding: 10px 1.2rem;
    border: 0;
    outline: 3px solid #f7f7fd52;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    color: #f7f7fd;
    background: #213753a2;
    backdrop-filter: blur(15px);
    height: 40px;

}

.container .marks-input button {
    padding: 10px 1.2rem;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #f7f7fd;
    background: coral;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    height: 40px;

}

.results-table {
    margin-top: 20px;
}

.results-table table {
    width: 100%;
    border-collapse: collapse;


}

.results-table th,
.results-table td {
    padding: 10px 1rem;
    text-align: center;
    color: #f7f7fd;

}

.results-table th {
    background-color: #213753a2;
}



.results-table tr:nth-child(even) {
    background-color: #23387c50;
}
.results-table th,
.results-table td {
    border: .2px solid #213753a2;
}

.results-table td.grade {
    font-weight: bold;
    color: #007bff;
}

.results-table td.comment {
    font-style: italic;
}

